body {
  font-family: "Malgun Gothic", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../images/beranda1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

.beranda {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.beranda h1 {
  color: #000;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 45px;
  margin-left: 80px;
}

.beranda p {
  color: #333;
  font-size: 1.125rem;
  line-height: 1.7;
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 80px;
}

.beranda .btn-danger {
  font-size: 1.125rem;
  padding: 10px 20px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .beranda h1 {
    font-size: 2rem;
    margin-top: 20px;
  }

  .beranda p {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .beranda .btn-danger {
    font-size: 1rem;
    padding: 8px 16px;
    margin-top: 10px;
  }
}
