body {
  font-family: "Malgun Gothic", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../images/hasil1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 250vh;
  position: relative;
  overflow-x: hidden;
}

.hasil-stres {
  max-width: 100%;
  padding: 2rem;
  text-align: center;
}

.hasil-stres h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: left;
}

.hasil-stres p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  text-align: left;
}

.hasil-stres-isi {
  max-width: 90%;
  margin: 0 auto;
  background-color: #fffafa;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.hasil-stres-isi h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #333;
}

.table-hasil-stres {
  overflow-x: auto;
  margin-top: 1.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #dddddd;
  font-size: 0.9rem;
}

th {
  background-color: #ff6f61;
  color: white;
}

td {
  color: #333;
}

.img-hasil {
  width: 60%;
  height: auto;
  max-width: 500px;
  margin: 1.5rem auto;
}

.garis {
  border-top: 2px solid #d0434d;
  margin: 2rem 0;
}

.bottom-image {
  text-align: center;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .hasil-stres h1 {
    font-size: 3rem;
  }

  .hasil-stres p {
    font-size: 1.2rem;
  }

  .hasil-stres-isi {
    max-width: 80%;
    padding: 2.5rem;
  }

  .hasil-stres-isi h2 {
    font-size: 2.2rem;
  }

  th, td {
    font-size: 1rem;
  }

  .img-hasil {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .hasil-stres h1 {
    font-size: 3.3rem;
  }

  .hasil-stres p {
    font-size: 1.3rem;
  }

  .hasil-stres-isi {
    max-width: 70%;
    padding: 3rem;
  }

  .hasil-stres-isi h2 {
    font-size: 2.5rem;
  }

  th, td {
    padding: 10px;
    font-size: 1.1rem;
  }

  .img-hasil {
    width: 40%;
  }
}
