body {
  font-family: "Malgun Gothic", sans-serif;
  margin: 0;
  background-color: #d0424d;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
  box-sizing: border-box;
}

.login-container {
  text-align: center;
  background-color: #fff;
  padding: 70px 60px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  width: 400px;
  margin: 100px auto;
}

.login-container h2 {
  margin-top: 0;
}

.login-container input {
  width: calc(100% - 20px);
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 17px;
}

.login-container button {
  padding: 15px 30px;
  background-color: #d0424d;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 17px;
  margin-top: 10px;
  width: calc(100% - 20px);
}

.login-container button:hover {
  background-color: #f85460;
}

.signup-link {
  font-size: 16px;
  color: #0070c0;
  text-decoration: underline;
  cursor: pointer;
}

/* Responsif untuk layar kecil */
@media (max-width: 480px) {
  .login-container {
    padding: 20px 15px;
    width: 100%;
    max-width: 280px; /* Lebar maksimum lebih kecil */
    margin: 50px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .login-container h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .login-container input,
  .login-container button {
    padding: 10px;
    font-size: 15px;
    margin-bottom: 15px;
  }

  .signup-link {
    display: block;
    margin-top: 15px;
    font-size: 14px;
  }
}
